// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';


/* Animations  */
img.colorized {
  filter: grayscale(0%);
}

h1.colorized {
  text-shadow: 3px 3px 0px var(--accent-color-transparent);
}

h2.colorized {
  text-shadow: 2px 2px 0px var(--accent-color-transparent);
}

.card.colorized {
  box-shadow: 3px 3px 0px var(--accent-color-transparent);
  transform: translate(2px, 2px);
}

.card-black-bg.colorized {
  box-shadow: 3px 3px 0px var(--accent-color-transparent);
  transform: translate(2px, 2px);
}


/* Slide animations */
.slide-in-left.slide-in-animation {
  animation: slide-in-from-left 1s;
}

.slide-in-left-d1.slide-in-animation {
  animation: slide-in-from-left 1.5s;
}
.slide-in-left-d2.slide-in-animation {
  animation: slide-in-from-left 2s;
}
.slide-in-left-d3.slide-in-animation {
  animation: slide-in-from-left 2.5s;
}
.slide-in-left-d4.slide-in-animation {
  animation: slide-in-from-left 3s;
}

.slide-in-right.slide-in-animation {
  animation: slide-in-from-right 1s;
}

.slide-in-bottom.slide-in-animation {
  animation: slide-in-from-bottom 1s;
}

.slide-in-top.slide-in-animation {
  animation: slide-in-from-top 1s;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Shake animation */
.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


/* Fade animation */
.fade-in {
  opacity: 0%;
}

.fade-in.animation-finished {
  opacity: 100%;
}

.fade-in-animation {
  animation: fade-in-animation 3s;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
