// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(12, 77%, 60%),
    200: hsl(12, 77%, 55%),
    300: hsl(12, 77%, 50%),
    400: hsl(12, 77%, 40%),
    500: hsl(12, 77%, 30%),

  ),
  secondary: (
    100: hsl(47, 94%, 64%),
    200: hsl(47, 94%, 59%),
    300: hsl(47, 94%, 54%),
    400: hsl(47, 94%, 44%),
    500: hsl(47, 94%, 34%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
  translucent: (
    100: hsla(0, 0%, 0%, 0.0),
    200: hsla(0, 0%, 0%, 0.2),
    300: hsla(0, 0%, 0%, 0.3),
    400: hsla(0, 0%, 0%, 0.4),
    500: hsla(0, 0%, 0%, 0.5),
    600: hsla(0, 0%, 0%, 0.6),
    700: hsla(0, 0%, 0%, 0.7),
    800: hsla(0, 0%, 0%, 0.8),
    900: hsla(0, 0%, 0%, 0.9),
  ),
);
