---
/**
 * Info icon component used for tooltips
 * @param props
 */

const {
  info = "This is an info icon",
} = Astro.props;
---

<div class="info-icon">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    ><g fill="black"
      ><path d="M9 7v5H7V7zM8 4a1 1 0 1 0 0 2a1 1 0 0 0 0-2"></path><path
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6a6 6 0 1 0 0 12A6 6 0 0 0 8 2"
      ></path></g
    ></svg
  >
  <div class="info-tooltip">{info}</div>
</div>


<style>
  .info-icon {
    display: inline-block;
    cursor: help;
  }

  .info-icon svg {
    fill: var(--color-black-100);
  }

  .info-icon:hover svg {
    fill: var(--color-gold-100);
  }

  .info-icon svg path {
    transition: fill 0.2s ease-in-out;
  }

  .info-tooltip {
    display: none;
    position: absolute;
    /* top: 1rem; */
    bottom: 2rem;
    right: 2.5rem;
    max-width: 300px;
    border-radius: 4px;
  }

  .info-icon:hover .info-tooltip {
    display: block;
    background-color: var(--color-black-60);
    color: var(--color-white-100);
    font-family: var(--font-family-body-thin);
    font-size: var(--font-size-small);
    line-height: 1.4rem;
    /* max-width: 300px; */
    padding: 1rem;

  }

</style>
