:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, system-ui, sans-serif;
  background-color: #0D192E;
  background-size: 224px;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
}

section {
  /* margin: 2rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section.full-height {
  height: 100%;
  min-height: 70svh;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

a {
  color: rgb(var(--accent));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 0.25rem solid rgb(var(--accent));
}

/* nav styles */
.hamburger {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  cursor: pointer;
  z-index: 2;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-11px, 10px);
}

.hamburger.is-active .line:nth-child(3) {
  transform: rotate(45deg) translate(-11px, -10px);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D192E;
  color: #fff;
  padding: 1rem;
  margin: 0;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo .logo-text {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #fff;
  /* TODO get fonts working */
}

.logo img {
  width: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-divider {
  width: 100%;
  height: 4px;
  background-color: #f9de15;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

.expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #0D192E;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;
  font-size: 2rem;
}

/* No scroll when menu open */
.no-scroll {
  overflow: hidden;
}
