/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* ------------------------------------------------------------------------------------------ */

/* Begin of custom styles */

:root {
  /* Define variables */
  /* Theme: elegant newspaper style */
  /* Colors */
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #4c4c4c;
  --accent-light: #a1a1a1;
  --accent-form: #e7e7e7;
  --accent-transparent: rgba(76, 76, 76, 0.6);
  --accent-color: #a800ab;
  --accent-color-light: #fdf6ff;
  --accent-color-transparent: rgba(168, 0, 171, 0.6);
  --background-light: #ffffff;
  --background-nav: #ececec;
  --background-dark: #000000;



  /* Fonts */
  --font-primary: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-logo: 'Nimbus Mono PS', 'Courier New', monospace;
  /* --font-logo: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; */
  --font-code: 'Fira Code', monospace;

  /* Font sizes */
  --font-size-1: 2rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.2rem;
  --font-size-4: 1rem;
  --font-size-5: 0.875rem;
  --font-size-6: 0.75rem;
  --font-size-dynamic-1: clamp(5rem, 30vw, 10rem);
  --font-size-dynamic-2: clamp(3rem, 15vw, 6rem);

}

* {
  box-sizing: border-box;
}



html, body {
  font-family: var(--font-primary);
  background-color: var(--background-light);
  background-size: 224px;
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
}

main {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 1400px;
}


img {
  transition: all 0.2s ease-in-out;
  transition: filter 1.5s ease-in-out;
}

/* Text */

h1 {
  font-size: var(--font-size-dynamic-1);
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 1rem;
  text-shadow: 6px 6px 0px var(--accent-transparent);
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color:transparent;
}

h1:hover {
  text-shadow: 3px 3px 0px var(--accent-color-transparent);
}


h2 {
  font-size: var(--font-size-dynamic-2);
  margin: 0;
  margin-bottom: 1rem;
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--primary);
  text-shadow: 4px 4px 0px var(--accent-transparent);
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color:transparent;
}

h2:hover {
  text-shadow: 2px 2px 0px var(--accent-color-transparent);
}

h3 {
  font-size: var(--font-size-3);
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--font-size-4);
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

h5 {
  font-size: var(--font-size-5);
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

h6 {
  font-size: var(--font-size-6);
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  font-family: var(--font-primary);
  margin: 0;
  margin-bottom: 1rem;
  font-size: var(--font-size-3);
  font-weight: 400;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  -webkit-tap-highlight-color:transparent;
}

blockquote {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 0.25rem solid rgb(var(--accent));
}

/* Sections */

section {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section {
  height: auto;
  margin: 10% auto;
}

.blog {
  max-width: 800px;
  margin: 0 auto;
}


.flex-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-columns-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-box {
  width: 50%;
  font-size: var(--font-size-3);
  margin: 0 10% 0 0;
}

@media screen and (max-width: 1000px) {
  .text-box {
    margin: 0;
  }

}

.text-box-clamp {
  width: 50%;
  font-size: var(--font-size-3);
  max-width: 600px;
}

.text-box-reverse {
  margin: 0 0 0 10%;
}

.headshot {
  width: 40%;
  padding: 2rem;
}

.headshot img {
  border: 4px solid var(--primary);
  box-shadow: 6px 6px 0px var(--accent-transparent);
  border-radius: 50%;
  width: 100%;
  /* Initially black and white */
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}

.headshot img:hover {
  filter: grayscale(0%);
  box-shadow: 3px 3px 0px var(--accent-color-transparent);
  transform: translate(2px, 2px);
}

.image-box {
  width: 50%;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.image-box img {
  filter: grayscale(100%);
  max-width: 100%;
  height: auto;
  /* max-height: 700px; */
}

.image-box img:hover {
  filter: grayscale(0%);
  translate: 2px 2px;
}


article {
  margin-top: 2rem;
  margin-bottom: 1rem;
}





.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
}

.card {
  border-radius: 0.25rem;
  border: 0.125rem solid var(--accent);
  color: var(--primary);
  box-shadow: 6px 6px 0px var(--accent-transparent);
  background-color: var(--secondary);
  padding: 1.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;
}

.card:hover {
  box-shadow: 3px 3px 0px var(--accent-color-transparent);
  transform: translate(2px, 2px);
}

.card-center {
  margin: 2rem auto;
  padding-top: 0;
  max-width: 600px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  font-size: var(--font-size-6);
  background-color: var(--accent);
  box-shadow: 2px 2px 0px var(--accent-transparent);
  border: 0.125rem solid var(--accent);

  color: var(--secondary);
  font-weight: 600;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.tag:hover {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: 1px 1px 0px var(--accent-color-transparent);
  transform: translate(1px, 1px);
}

.title {
  font-size: var(--font-size-3);
  color: var(--primary);
  line-height: 1.25;
  margin-top: 2rem;
  font-weight: 600;
}

.info {
  font-size: var(--font-size-4);
}

.card-button-group {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}


@media screen and (max-width: 800px) {
  section {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    min-height: 100svh;
    margin-bottom: 20%;
  }

  .flex-columns, .flex-columns-reverse {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }

  .text-box {
    width: 100%;
    text-align: left;
  }

  .image-box {
    width: 100%;
  }

  .text-box, .text-box-reverse {
    margin: 0 auto;
  }

  .cards {
    align-items: center;
    width: 100%;
  }


}


/* End Sections */



/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--accent);
  background-color: var(--accent);
  color: var(--secondary);
  text-decoration: none;
  text-align: center;
  font-size: var(--font-size-4);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 4px 0px var(--accent-transparent);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--accent);
  box-shadow: 3px 3px 0px var(--accent-color-transparent);
  transform: translate(2px, 2px);
}

.button-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .button-group {
    justify-content: center;
  }
}


/* End Button */


/* Helper Classes */

.show-cursor {
  cursor: pointer;
}

/* No scroll when menu open */
.no-scroll {
  overflow: hidden;
}


/* Animations  */
img.colorized {
  filter: grayscale(0%);
}

h1.colorized {
  text-shadow: 3px 3px 0px var(--accent-color-transparent);
}

h2.colorized {
  text-shadow: 2px 2px 0px var(--accent-color-transparent);
}

.card.colorized {
  box-shadow: 3px 3px 0px var(--accent-color-transparent);
  transform: translate(2px, 2px);
}


/* Slide animations */
.slide-in-left.slide-in-animation {
  animation: slide-in-from-left 1s;
}

.slide-in-right.slide-in-animation {
  animation: slide-in-from-right 1s;
}

.slide-in-bottom.slide-in-animation {
  animation: slide-in-from-bottom 1s;
}

.slide-in-top.slide-in-animation {
  animation: slide-in-from-top 1s;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Shake animation */
.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


/* Fade animation */
.fade-in {
  opacity: 0%;
}

.fade-in.animation-finished {
  opacity: 100%;
}

.fade-in-animation {
  animation: fade-in-animation 2s;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
