/* Begin of custom styles */

@font-face {
  font-family: 'Anton SC';
  src: url('../assets/fonts/AntonSC-Regular.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('../assets/fonts/Anton-Regular.ttf');
}


@font-face {
  font-family: 'Inter-Black';
  src: url('../assets/fonts/Inter-Black.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../assets/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('../assets/fonts/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('../assets/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('../assets/fonts/Inter-Thin.ttf');
}

:root {
  /* -------------------------- Variables ---------------------------- */

  /* --------------- Colors --------------------*/

  /* Black */
  --color-black-100: #000000;
  --color-black-90: #1a1a1a;
  --color-black-80: #333333;
  --color-black-70: #4d4d4d;
  --color-black-60: #666666;
  --color-black-50: #808080;
  --color-black-40: #999999;
  --color-black-30: #b3b3b3;
  --color-black-20: #cccccc;
  --color-black-10: #e6e6e6;

  /* White */
  --color-white-100: #ffffff;
  --color-white-90: #f2f2f2;
  --color-white-80: #e6e6e6;
  --color-white-70: #d9d9d9;
  --color-white-60: #cccccc;
  --color-white-50: #bfbfbf;

  /* Accent */
  --color-gold-100: #f9d34b;
  --color-gold-90: #cdaf40;
  --color-gold-80: #a28a35;

  /* Message (erro/succeess) */
  --color-red-100: #c60000;
  --color-green-100: #00a300;

  /* Background */
  --color-bg-light: #f0f1f3;
  --color-bg-nav: #ececec;
  --color-bg-dark: #000000;

  /* Shadows */
  --color-shadow-dark-trans: rgba(77, 77, 77, 0.7);
  --color-shadow-dark-trans-2: rgba(77, 77, 77, 0.9);

  /* Links */
  --color-link: #2258cb;



  /* ---------------------------- Fonts --------------------------------*/

  /* --------- Font Family ----------- */
  --font-family-title: 'Anton SC', sans-serif;
  --font-family-heading: 'Inter-Black', sans-serif;
  --font-family-body: 'Inter-Regular', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-body-light: 'Inter-Light', sans-serif;
  --font-family-body-bold: 'Inter-Bold', sans-serif;
  --font-family-body-medium: 'Inter-Medium', sans-serif;
  --font-family-body-semi-bold: 'Inter-SemiBold', sans-serif;
  --font-family-body-thin: 'Inter-Thin', sans-serif;
  --font-family-logo: 'Nimbus Mono PS', 'Courier New', monospace;
  --font-family-code: 'Fira Code', monospace;

  /* --------- Font Size ----------- */
  /* Body */
  --font-size-large: 1.2rem;
  --font-size-medium: 1.125rem;
  --fonst-size-regular: 1rem;
  --font-size-small: 0.875rem;
  --font-size-tiny: 0.75rem;

  /* Headings */
  --font-size-h1: 3.5rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.5rem;
  --font-size-h4: 2rem;
  --font-size-h5: 1.5rem;
  --font-size-h6: 1.25rem;

}

@media screen and (max-width: 991px) {
  :root {
    /* Headings */
    --font-size-h1: 3.25rem;
    --font-size-h2: 2.75rem;
    --font-size-h3: 2.25rem;
    --font-size-h4: 1.75rem;
    --font-size-h5: 1.5rem;
    --font-size-h6: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    /* Headings */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1.125rem;
  }
}

* {
  box-sizing: border-box;
}


html, body {
  font-family: var(--font-family-body);
  background-color: var(--color-bg-light);
  /* background-color: var(--color-white-100); */
  /* background-size: 224px; */
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
}


img {
  transition: all 0.2s ease-in-out;
  transition: filter 1.5s ease-in-out;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  letter-spacing: 2px;
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 600;
}


h2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 500;
}


h4 {
  font-size: var(--font-size-h4);
  font-weight: 500;
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 500;
}

h6 {
  font-size: var(--font-size-h6);
  font-weight: 500;
}


p {
  font-family: var(--font-primary);
  /* margin: 0; */
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  font-size: var(--font-size-4);
  font-weight: 400;
}

a {
  color: var(--color-black-70);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
}

blockquote {
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 0.25rem solid rgb(var(--color-black-70));
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

/* Sections */
/* About Section */
#about {
  background-color: #000000;
}

.flex-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-columns-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column {
  width: 100%;
  /* padding: 2rem; */
}

.bullet-list {
  list-style-type: none;
  padding: 1rem;
  margin-bottom: 2rem;
}

.bullet {
  list-style-type: disc;
  /* margin-left: 1rem; */
  margin-bottom: 2rem;
}

.no-bullet {
  list-style-type: none;
  margin-bottom: 2rem;
}

.bullet-text {
  font-size: var(--font-size-3);
  width: 90%;
}

.bullet-text a {
  color: var(--color-link);
}

.icon-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.bullet-icon {
  /* font-size: var(--font-size-1); */
  color: var(--color-gold-100-dark);
  width: 10%;
}




/* Helper Classes */

.show-cursor {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.center-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* No scroll when menu open */
.no-scroll {
  overflow: hidden;
}





/* Animations  */



/* Slide animations */
.slide-in-left.slide-in-animation {
  animation: slide-in-from-left 1s;
}

.slide-in-left-d1.slide-in-animation {
  animation: slide-in-from-left 1.5s;
}

.slide-in-left-d2.slide-in-animation {
  animation: slide-in-from-left 2s;
}

.slide-in-left-d3.slide-in-animation {
  animation: slide-in-from-left 2.5s;
}

.slide-in-left-d4.slide-in-animation {
  animation: slide-in-from-left 3s;
}

.slide-in-right.slide-in-animation {
  animation: slide-in-from-right 1s;
}

.slide-in-bottom.slide-in-animation {
  animation: slide-in-from-bottom 1.5s;
}

.slide-in-top.slide-in-animation {
  animation: slide-in-from-top 1s;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Shake animation */
.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


/* Fade animation */
.fade-in {
  opacity: 0%;
}

.fade-in.animation-finished {
  opacity: 100%;
}

.fade-in-animation {
  animation: fade-in-animation 2s;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Disable some animations on mobile devices */
@media screen and (max-width: 768px) {
  /* .slide-in-animation {
    animation: none;
  }

  .fade-in-animation {
    animation: none;
  } */

  .shake {
    animation: none !important;
  }
}
