---
/**
  @description Div block with predefined styles to keep content centered and aligned.
  On bigger screens defaults to 940px, on smaller screens defaults to 100% width.
*/

const { className = "", size="" } = Astro.props;
---

<div class=`container ${className} ${size}` >
  <slot />
</div>

<style>
  .container {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
  }

  .large {
    max-width: 1200px;
  }

  .full {
    max-width: 100%;
  }

  @media (max-width: 991px) {
    .container {
      padding: 0 1rem;
    }
  }

</style>
