---
/**
 * @name SectionFull
 * @desc Section with full height
 */

// Destructure the id prop from Astro.props
const { id = "", background = "" } = Astro.props;
---

<section class=`section-full bg-${background}` id={id}>
  <slot />
</section>

<style>
  .section-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
  }

  .bg-black {
    background-color: var(--black-100);
  }

  .bg-white {
    background-color: var(--white-100);
  }

  .bg-gradient {
    /* background: linear-gradient(90deg, var(--white-100), var(--black-30)); */
    /* background-image: url('/src/assets/images/backg-pattern.svg'); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)) , url('/src/assets/images/backg-pattern.svg') center center;
    background-size: cover;

  }

</style>
