---
/**
 * @name SectionFull
 * @desc Section with full height
 */

// Destructure the id prop from Astro.props
const { id = "", background = "white" } = Astro.props;
---

<section class=`section bg-${background}` id={id}>
  <slot />
</section>

<style>
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
  }

  .bg-white {
    background-color: var(--white-100);
  }

  .bg-black {
    background-color: var(--black-100);
  }

  .bg-special {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)) , url('/src/assets/images/backg-pattern.svg') center center;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)) , url('/src/assets/images/bg-special-2.svg') center center; */
    background-size: cover;
  }

  .bg-special-2 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(0, 0, 0, 0.2)) , url('/src/assets/images/bg-special-3.svg') center center;
    background-size: cover;
  }

</style>
