---
import "../../styles/blog.css";
import Layout from "../../layouts/Layout.astro";

const title = "Tag Index";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title={title}>
  <main>
    <section>
      <h1>{title}</h1>
      <div class="tags">
        {
          tags.map((tag) => (
            <p class="tag">
              <a href={`/tags/${tag.toLowerCase()}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  a {
    color: var(--black-70-color);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 0.125rem solid var(--background-dark-transparent);
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-4);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 0px var(--background-dark-transparent);
    transition: all 0.2s ease-in-out;
  }

  .tag:hover {
    background-color: var(--white-100);
    box-shadow: 3px 3px 0px var(--black-70-color-transparent);
    transform: translate(2px, 2px);
  }
</style>
