---
import Layout from "../layouts/Layout.astro";
import "../styles/blog.css";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Developer Log";
---

<Layout title={pageTitle}>
  <main>
    <section class="blog">
      <h1>Developer Log</h1>
      <h2>Posts</h2>
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>


  ul {
    list-style: none;
    padding: 0;
  }


</style>
