---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "Benjamin Gardiner - Software Engineer";
---

<Layout title={pageTitle}>
  <main>
    <section class="full-height">
      <h1 class="main-title">Hi,<br />I'm Ben.</h1>
    </section>
  </main>
</Layout>

<style>
  h1 {
    font-family: "Aldrich", Sans-serif;
    font-weight: 600;
    line-height: 1.2em;
		margin: 0;
  }
  h1.main-title {
    text-align: left;
    color: #6ec1e4;
    font-size: clamp(5rem, 10rem, 12rem);
    text-shadow: 6px 6px 0px rgba(100.99999999999987, 0, 255, 0.3);
  }
</style>
