---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../components/HeroSectionFull.astro";
import ProjectSectionFull from "../components/ProjectSectionFull.astro";
import Divider from "../components/Divider.astro";
import ContactForm from "../components/ContactForm.astro";
import "../styles/global.css";
import headshot from "../assets/images/Headshot_2024_crop_square.webp";
import ButtonLink from "../components/ButtonLink.astro";
import ContactButtons from "../components/ContactButtons.astro";
import ProjectCard from "../components/ProjectCard.astro";
import githubLogo from "../assets/github-mark.png";

const pageTitle = "Benjamin Gardiner - Web Developer";

// Get all projects
const allProjects = await getCollection("project");
// Order projects by index
allProjects.sort((a, b) => a.data.index - b.data.index);
---

<Layout title={pageTitle}>
  <main>
    <HeroSectionFull>
      <h1 class="hero-heading">BBGard</h1>
			<a class="email-text" href="mailto:ben.b.gardiner@gmail.com">ben.b.gardiner@gmail.com</a>
    </HeroSectionFull>
  </main>

	<style>
		.hero-heading {
			font-size: calc(100vw / 3);
			font-family: var(--font-heading);
		}

		.subtitle {
			font-size: 1.6rem;
			font-family: var(--font-body);
		}

		.email-text {
			font-family: var(--font-heading);
			font-size: 1rem;
		}
	</style>
</Layout>
