---
import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../layouts/HeroSectionFull.astro";
import ImgTextSectionFull from "../layouts/ImgTextSectionFull.astro";
import "../styles/global.css";
import headshot from "../assets/Headshot_2020_Colour.jpg";

const pageTitle = "Benjamin Gardiner - Software Engineer";
const aboutText_1 = [
  "Greetings! I'm Benjamin Gardiner, an IT graduate with a fervor for technology.",
  "My journey involves exploring the realms of user experience, design, software engineering, and web development, where I continually evolve my skills to stay at the forefront of innovation.",
];
const aboutText_2 = [
  "Welcome! I'm Benjamin Gardiner, a digital craftsman on a quest for perfection.",
  "Armed with a degree in Information Technology, my focus extends to refining user experiences, crafting elegant designs, and mastering the intricacies of software engineering and web development.",
];
const aboutText_3 = [
  "Hey there! I'm Benjamin Gardiner, a code artisan weaving digital experiences.",
  "With a Bachelor's in Information Technology, I channel my passion into sculpting seamless user experiences, creating captivating designs, and crafting robust solutions in the realm of web development.",
];

// Randomise the about text
const aboutTexts = [aboutText_1, aboutText_2, aboutText_3];
const randomIndex = Math.floor(Math.random() * aboutTexts.length);
const aboutText = aboutTexts[randomIndex];
---

<Layout title={pageTitle}>
  <main>
    <HeroSectionFull>
      <h1 class="main-title show-cursor">Hi,<br />I'm Ben.</h1>
      <button class="btn btn-primary" onclick="window.location.href='#about'"
        >Learn More</button
      >
    </HeroSectionFull>
    <ImgTextSectionFull
      id="about"
      title="About Ben"
      imgSrc={headshot.src}
      imgAlt="Image of Ben"
    >
      <p>
        {aboutText[0]}<br />{aboutText[1]}
      </p>
      <button class="btn btn-primary" onclick="window.location.href='#projects'"
        >Projects</button
      >
    </ImgTextSectionFull>
    <ImgTextSectionFull id="projects" title="Projects">
      <p>Coming Soon...</p>
    </ImgTextSectionFull>
		<ImgTextSectionFull id="contact" title="Contact">
			<p>Coming Soon...</p>
		</ImgTextSectionFull>
  </main>
</Layout>

<style>

	.main-title {
		text-align: left;
	}

	.btn-primary {
		margin-top: 2rem;
	}
</style>
