---
import Layout from "../layouts/Layout.astro";
import HeroSectionFull from "../components/layout/HeroSectionFull.astro";
import ContactForm from "../components/forms/ContactForm.astro";
// import githubLogo from "../assets/github-mark.png";
import Grid from "../components/layout/Grid.astro";
import SectionFull from "../components/layout/SectionFull.astro";
import PriceCard from "../components/PriceCard.astro";
// import HFlex from "../components/layout/HFlex.astro";
import VFlex from "../components/layout/VFlex.astro";
import Button from "../components/buttons/Button.astro";

const pageTitle = "Benjamin Gardiner - Web Developer";
---

<Layout title={pageTitle}>
  <main id="home">
    <HeroSectionFull minHeight="calc(100svh - 5rem)" margin="4rem 0 0 0 ">
      <h1 class="hero-heading fade-in" data-tilt>BBGard</h1>
      <a class="down-chevron hero-chevron" href="#about">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="5em"
          height="5em"
          viewBox="0 0 16 16"
          ><path
            fill="black"
            d="m15.146 6.263l-1.292-1.526L8 9.69L2.146 4.737L.854 6.263L8 12.31z"
          ></path></svg
        >
      </a>
    </HeroSectionFull>
    <SectionFull id="about">
      <h2 class="about-heading accent">Modern websites. <span class="no-bs">No BS.</span></h2>
      <p class="about-text">
        I'm a freelance web developer specializing in sleek, minimalist designs.
        My process is <strong
          ><em class="accent">straightforward, no frills, just results.</em
          ></strong
        >
      </p>
      <p class="about-text">
        <!-- Let's build something great together. -->
        Let me take care of the hard work.
      </p>
      <a class="down-chevron" href="#services">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="5em"
          height="5em"
          viewBox="0 0 16 16"
          ><path
            fill="#f9d34b"
            d="m15.146 6.263l-1.292-1.526L8 9.69L2.146 4.737L.854 6.263L8 12.31z"
          ></path></svg
        >
      </a>
    </SectionFull>
    <SectionFull id="services" background="special">
      <VFlex>
        <h2 class="services-heading">Site Plans</h2>
        <p class="services-description">
          All plans include a free domain and hosting for the first year.
          <br />I build my sites using basic HTML, CSS, and JavaScript,
          WordPress, or Webflow depending on your needs. I can also provide
          training on how to manage your site once it's live.
        </p>
        <Grid columns={3} gap={2}>
          <PriceCard
            style="glass"
            title="Basic"
            price="$500"
            featureHighlight="Free hosting and domain for the first year"
            recurringPrice="Renews at approx $280 / year"
            description="Simple, one-page websites for personal use or small businesses."
            btnLink="#contact"
            features={[
              "Single page site",
              "Mobile friendly design",
              "Basic Search Engine Optimisation (SEO)",
              "Free hosting & domain for the 1st year *",
            ]}
            featuresInfo={[
              "Single landing page with hero section, services, contact info, etc",
              "Responsive design to suit all devices from desktops/laptops to mobiles,",
              "Basic Search Engine Optimisation to give your page the best chance of appearing in search results (Google, Bing, etc)",
              "Free hosting & domain for the 1st year info, then approximatly $280 / year after.*",
            ]}
          />
          <PriceCard
            style="glass"
            title="Standard"
            price="$1200"
            featureHighlight="Free hosting and domain for the first year"
            recurringPrice="Renews at $280 / year"
            description="Up to 5 pages, perfect for small businesses or personal portfolios."
            btnLink="#contact"
            features={[
              "Up to 5 pages",
              "Mobile driendly design",
              "Search Engine Optimisation (SEO)",
              "Contact form integration",
              "Free hosting & domain for the 1st year *",
            ]}
            featuresInfo={[
              "Landing page (home) with hero section, services, and anything else relevant. Seperate pages for services, about, contact, etc.",
              "Responsive design to suit all devices from desktops/laptops to mobiles,",
              "Search Engine Optimisation including Google Search Console, and Bing Webmaster Tools setup to give your page the best chance of appearing in search results (Google, Bing, etc)",
              "Contact form integration to allow users to get in touch with you directly from your site.",
              "Free hosting & domain for the 1st year info, then approximatly $280 / year after.*",
            ]}
          />
          <PriceCard
            style="glass"
            title="e-Commerce"
            price="$2500"
            featureHighlight="Free hosting and domain for the first year"
            recurringPrice="Renews at $500 / year"
            description="Full e-commerce functionality, perfect for online stores."
            btnLink="#contact"
            features={[
              "Up to 10 pages",
              "Mobile friendly design",
              "E-commerce functionality & SEO",
              "Basic store training",
              "Free hosting & domain for the 1st year *",
            ]}
            featuresInfo={[
              "Landing page (home) with hero section, services, and anything else relevant. Seperate pages for services, about, store, shopping cart, contact (including contact form), and anything else relevant.",
              "Responsive design to suit all devices from desktops/laptops to mobiles,",
              "E-commerce functionality including product pages, shopping cart, checkout, etc. Search Engine Optimisation",
              "Basic store training to get you started with managing your store.",
              "Free hosting & domain for the 1st year info, then approximatly $500 / year after.*",
            ]}
          />
        </Grid>
        <div class="terms-container">
          <p class="terms">
            * Domain name registration and hosting costs are subject to change
            and may vary depending on the domain name and hosting provider.
          </p>
        </div>
				<!-- <Button link="#compare" text="Compare Plans" /> -->
      </VFlex>
    </SectionFull>
		<!-- <SectionFull id="compare" background="black">

		</SectionFull> -->
		<!-- <SectionFull id="faq" background="white">

		</SectionFull> -->
		<SectionFull id="contact" background="special-2">
			<h2 class="contact-heading">Ready to build your online presence?
			</h2>
			<ContactForm />
		</SectionFull>
  </main>

  <style>
    .hero-heading {
      font-size: calc(100vw / 4);
      font-family: var(--font-title);
      line-height: 100%;
			;
    }


    .down-chevron {
      margin-top: 2rem;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
    }

    /* About Section */
    .about-heading {
      font-size: 4.5rem;
      color: var(--white-100);
			text-align: center;
    }

    .about-text {
      font-size: var(--body-large);
      color: var(--white-100);
      max-width: 800px;
      text-align: center;
    }

		.no-bs {
			white-space: nowrap;
		}

    .accent {
      color: var(--gold-100);
    }

    .services-heading {
      font-size: var(--heading-2);
      color: var(--black-100);
      align-self: flex-start;
      text-align: left;
      margin: 0 1rem;
    }

    .services-description {
      font-family: var(--font-body-semi-bold);
      font-size: var(--body-medium);
      line-height: 1.5;
      margin: 0 1rem 2rem 1rem;
      align-self: flex-start;
      text-align: left;
      max-width: 800px;
    }

    .terms-container {
      margin-top: 2rem;
      max-width: 600px;
    }

    .terms {
      font-size: var(--body-small);
      font-family: var(--font-body-regular);
      color: var(--black-100);
      text-align: center;
    }

		.contact-heading {
			/* font-size: 4.5rem; */
			font-size: var(--heading-1);
      color: var(--black-100);
			max-width: 600px;
			text-align: center;
			margin-bottom: 2rem;
		}

		@media screen and (max-width: 991px) {

			.about-heading, .about-text, .contact-heading {
				max-width: 600px;
			}



		}

		@media screen and (max-width: 768px) {
			.about-text, .services-description {
				padding: 0 1rem;
			}

			.services-heading {
				margin-left: 2rem;
			}

			.about-heading {
				font-size: var(--heading-1);
				padding: 0 1rem;
			}

			.contact-heading {
				font-size: var(--heading-2);
				padding: 0 1rem;
				margin-top: 2rem;
			}

		}
  </style>
</Layout>
