---
import ButtonLink from './ButtonLink.astro';

const {
  title = "",
  price = "",
  features = [],
  btnLink = "",
} = Astro.props;

---

<div class="cards">
  <article class="card shakeable">
    <h2 class="title">{title}</h3>
    <h3 class="price">{price}</h3>
    <slot class="description"/>
    <div class="features">
      <ul class="feature-list">
        {features.forEach((feature) => (
          <li class="feature">{feature}</li>
        ))}
      </ul>
    </div>
    <div class="card-button-group">
      <ButtonLink btnLink={btnLink} btnText="Get Started" />
    </div>
  </article>
</div>

<style>

</style>
