---
import ContactButtons from "./ContactButtons.astro"
---

<div class="form-container">
  <div class="contact slide-in-bottom shakeable">
    <h3>Get in touch!</h3>
    <h4>Questions? Enquiries? Feedback?</h4>
    <p>
      I'd love to hear from you! Send me an email and I'll get back to you as
      soon as I can.<br/><br/> Alternatively, you can find me on LinkedIn or GitHub using
      the links below.
    </p>
    <ContactButtons />

  </div>

  <style>

    .form-container {
      max-width: 600px;
      width: 100%;
      margin: 2rem auto;
    }

    .contact {
      border-radius: 0.25rem;
      border: 0.125rem solid var(--black-70);
      color: var(--black-100);
      box-shadow: 6px 6px 0px var(--background-dark-transparent);
      background-color: var(--white-100);
      padding: 1.5rem;
      padding-bottom: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

    .contact:hover {
      box-shadow: 3px 3px 0px var(--black-70-color-transparent);
      transform: translate(2px, 2px);
    }

    .contact h3 {
      font-size: var(--font-size-1);
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .contact h4 {
      margin-bottom: 2rem;
      display: block;
      font-weight: 500;
      font-size: var(--font-size-3);
    }

    .contact p {
      margin-bottom: 2rem;
    }

  </style>
</div>
