---
import { Icon } from "astro-icon/components";

const { icon = "mdi:rocket", title = "Title", customClasses="" } = Astro.props;
---

<div class=`feature shakeable flex flex-col gap-4 ${customClasses}`>
  {icon !== "none" && <Icon name={icon} />}
  <div class='content fade-in'>
    <h3 class="mb-2">{title}</h3>
    <p>
      <slot
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot
      >
    </p>
  </div>
</div>

<style lang="scss">
  @use "../assets/scss/base/breakpoint" as *;

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;
    box-shadow: 6px 6px 0 var(--action-color);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      inset: 0;
      // background-color: var(--neutral-100);
      // border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      // box-shadow: 0 0 0 6px var(--neutral-100);
      z-index: 1;
      background: linear-gradient(var(--neutral-100), var(--neutral-100))
          padding-box,
        linear-gradient(to right, var(--primary-100), var(--secondary-100))
          border-box;

      border: 4px solid transparent;
    }

    // &::after {
    //   background-color: var(--action-color);
    //   inset: 1rem -0.85rem -0.85rem 1rem;
    //   border-radius: 1rem;
    //   z-index: 0;

    // }

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: 3px 3px 0 var(--action-color);
    }
  }

  :global(.feature [data-icon]) {
    height: auto;
    width: 4rem;
    color: var(--action-color);
  }

  :global(.darkmode .feature::before) {
    // background-color: var(--dark-100);
    background: linear-gradient(var(--neutral-900), var(--neutral-900))
          padding-box,
        linear-gradient(to right, var(--secondary-100), var(--primary-100))
          border-box;
    // box-shadow: 0 0 0 6px var(--dark-100);

  }
</style>
