---
// import Social from './Social.astro';
// import githubIcon from '../assets/github-mark-white.png';
// import linkedinIcon from '../assets/LinkedIn_icon.svg';
---

<footer>
  <!-- <Social icon={githubIcon} invert={true} platform="GitHub" username="bbgard"/>
  <Social icon={linkedinIcon} platform="LinkedIn" username="in/benjamin-gardiner-6b8478263/"/> -->
  <!-- <p>-- Fin --</p> -->

</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
  }

  footer p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text);}
</style>
