---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p class="text-center">
        &copy; {currentYear} - <a href="https://github.com/bbgard" rel="external nofollow" target="_blank">Benjamin Gardiner</a>
      </p>
      <p class="text-center">
        Based on - Starter Theme for <a href="https://astro.build/" rel="external nofollow" target="_blank">Astro</a>. Made by <a
          href="https://github.com/markteekman" rel="external nofollow" target="_blank">Mark Teekman</a
        >.
      </p>
    </div>
  </section>
</footer>
