---
// import Social from './Social.astro';
// import githubIcon from '../assets/github-mark-white.png';
// import linkedinIcon from '../assets/LinkedIn_icon.svg';
import ConstructionBanner from "./special/ConstructionBanner.astro";
---

<footer>
  <!-- <Social icon={githubIcon} invert={true} platform="GitHub" username="bbgard"/>
  <Social icon={linkedinIcon} platform="LinkedIn" username="in/benjamin-gardiner-6b8478263/"/> -->
  <!-- <p>-- Fin --</p> -->

  <!-- <p>© 2024 Benjamin Gardiner</p> -->
  <div class="badges">
    <div
      class="badge"
      data-iframe-width="150"
      data-iframe-height="270"
      data-share-badge-id="0fc89425-a6ff-41f2-9880-2aa3537d0412"
      data-share-badge-host="https://www.credly.com"
    >
    </div><script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div
      class="badge"
      data-iframe-width="150"
      data-iframe-height="270"
      data-share-badge-id="b5d6d5cb-f565-4e15-8853-1848d989fba8"
      data-share-badge-host="https://www.credly.com"
    >
    </div><script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div
      class="badge"
      data-iframe-width="150"
      data-iframe-height="270"
      data-share-badge-id="c9903dfa-ba19-40b3-b115-817512c58e2d"
      data-share-badge-host="https://www.credly.com"
    >
    </div><script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>

    <div
      class="badge"
      data-iframe-width="150"
      data-iframe-height="270"
      data-share-badge-id="054f61d7-39ca-45ed-b91c-e5cbb04c12eb"
      data-share-badge-host="https://www.credly.com"
    >
    </div><script
      type="text/javascript"
      async
      src="//cdn.credly.com/assets/utilities/embed.js"></script>

    <!-- End badges -->
  </div>

  <!-- <ConstructionBanner /> -->
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .badges {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .badge {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
  }
</style>
