---

---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<!-- <div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div> -->
<div class="hamburger">
  <span class="material-symbols-outlined menu-icon"> menu</span>
  <span class="material-symbols-outlined close-icon"> close</span>
</div>
<style>
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    color: var(--accent);
    font-size: 3rem;
    font-variation-settings:
      "FILL" 0,
      "wght" 200,
      "GRAD" 0,
      "opsz" 24;
  }


  .hamburger {
    display: none;
    right: 1.5rem;
    cursor: pointer;
    z-index: 2;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }

  .hamburger.is-active .menu-icon {
    display: none;
  }

  .hamburger.is-active .close-icon {
    display: block;
  }


  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  }
</style>
