---
import { Icon } from 'astro-icon/components'

const { src = '/headshot-2024.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container container-full-height">
    <div class="grid grid-cols-1 items-center gap-24 md:grid-cols-2 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl fade-in">
          <slot><span class="text-gradient ">Benjamin</span> Gardiner</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row fade-in">
          <a class="button has-icon" href="https://github.com/bbgard">
            <Icon name="ion:logo-github" />
            Visit GitHub
          </a>
          <a
            class="button has-icon color-secondary"
            href="#about"
          >
            <Icon name="ion:book-outline" />
            Read More
          </a>
        </div>
      </div>
      <img id="hero-image" class="hidden md:block lg:block shakeable fade-in" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #hero-image {
    object-fit: cover;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    border-top: 3px solid var(--primary-200);
    border-bottom: 3px solid var(--primary-200);
    transition: all 0.3s ease-in-out;
    border-image: linear-gradient(to right, var(--secondary-100), var(--primary-100)) 1;

  }

  #hero-image:hover {
    transform: scale(0.95);
  }
</style>
