---
/**
 * @name HeroSectionFull
 * @desc Hero section with full height
 */
---

<section class="hero-section" id="#top">
  <slot />
</section>

<style>
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

</style>
