---

const Navbar = {
  logo: "/path/to/logo.png",
  links: [
    // { text: "About", url: "/#about" },
    // { text: "Projects", url: "/#projects" },
    // { text: "Contact", url: "/#contact" },
    // { text: "Dev.Log", url: "/blog" },
  ],
};
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<nav class="navbar fade-in">
  <div class="nav-container">
    <div class="logo">
      <a class="logo-text" href="/">Benjamin Gardiner</a>
    </div>

    <!-- <ul class="nav-links">
      <li>Home</li>
      <li>About</li>
      <li>Projects</li>
    </ul> -->
    <div class="email">
      <a class="email-text" href="mailto:ben.b.gardiner@gmail.com"
          >ben.b.gardiner@gmail.com</a>
    </div>

<div class="hamburger">
  <span class="material-symbols-outlined menu-icon"> menu</span>
  <span class="material-symbols-outlined close-icon"> close</span>
</div>

  </div>
</nav>

<style>
  /* Navbar Styles */

  .navbar {
    position: fixed;
    top: 0;
    padding-top: 1rem;
    width: 100%;
    height: 4.5rem;
    background-color: var(--background-light);
    color: var(--primary);
    box-shadow: 2px 2px 0px var(--accent-transparent);
    transition: all 0.5s;
    z-index: 2;
  }

  .nav-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 3rem 1rem 3rem;
  }


  .navbar .logo .logo-text, .navbar .email .email-text {
    font-size: var(--font-size-1);
    font-family: var(--font-logo);
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--primary);
    padding: 0 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  .navbar .logo .logo-text:hover, .navbar .email .email-text:hover {
    background-color: var(--accent);
    transform: translate(1px, 1px);
  }

  .expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-light);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
  }

  .expanded .email-text {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: none;
  }

  .expanded .email-text a {
    font-size: 3rem;
    line-height: 5rem;
  }

  .hide-nav {
    top: -5rem;
  }

  /* Hamburger */
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    color: var(--accent);
    font-size: 3rem;
    font-variation-settings:
      "FILL" 0,
      "wght" 200,
      "GRAD" 0,
      "opsz" 24;
  }


  .hamburger {
    display: none;
    right: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    z-index: 2;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }

  .hamburger.is-active .menu-icon {
    display: none;
  }

  .hamburger.is-active .close-icon {
    display: block;
  }



  @media (max-width: 991px) {
    .nav-links, .navbar .email .email-text  {
      display: none;
    }

    .email-text.expanded {
      display: flex;
    }

    .hamburger {
      display: block;
    }

  }

  @media (min-width: 768) {
    .logo-text {
      font-size: 0.5rem;
    }
  }





</style>
