---
// import arrow from "../assets/double-arrow-up.svg";
import { Icon } from "astro-icon/components";
---

<div class="return-to-top shakeable hidden">
  <a class="type-icon" href="#top">
    <!-- <img src={ arrow.src } alt="Return to top" /> -->
    <Icon name="ion:arrow-up-circle-outline" />
  </a>
</div>

<style lang="scss">
  @use "../assets/scss/base/breakpoint" as *;

  .return-to-top {
    display: none;
    // display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
  }

  .return-to-top a {
    display: block;

    [data-icon] {
      height: auto;
      margin-top: -4px;
      width: 2.5rem;
      background-color: var(--primary-100);
      color: var(--neutral-900);
      box-shadow: 2px 2px 0px var(--secondary-100);
      transition: all 0.2s ease-in-out;
      border-radius: 0.25rem;
      border: 0.125rem solid var(--accent);

      padding: 0.25rem;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      [data-icon] {
        box-shadow: 1px 1px 0px var(--secondary-100);
        transform: translate(1px, 1px);
      }
      [data-icon] path {
        fill: var(--action-color-state);
      }
    }
  }

</style>
