---
/**
 * ConstructionBanner component - used to display a banner when a page is under construction
 * @param _props
 */
---

<div class="construction-banner">
  <h6>This site is currently under construction</h6>
</div>

<style>
  .construction-banner {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: aqua;
    z-index: 666;
  }
  h6 {
    font-size: var(--font-size-regular);
    font-family: var(--font-family-body-light);
    color: var(--color-black-100);
    font-weight: 600;
    text-align: center;
  }
</style>
