---
/**
 * Contact form component
 * Public access key: d80958f4-49ea-4d23-b0dc-030c3e93d9d5
 */
---

<div class="form-container">
  <div class="contact glass slide-in-bottom">
    <h3>Get in touch!</h3>
    <form
      name="contact"
      action="https://api.web3forms.com/submit"
      method="POST"
    >
      <!-- <input type="hidden" name="form-name" value="contact" /> -->
      <input
        type="hidden"
        name="access_key"
        value="d80958f4-49ea-4d23-b0dc-030c3e93d9d5"
      />
      <!-- Optional: Subject can be prefilled using type="hidden"
       or type="text" for normal user submitted input -->
      <input
        type="hidden"
        name="subject"
        value="New Submission from bbgard.github.io"
      />

      <!-- Optional: From Name you want to see in the email
       Default is "Notifications". you can overwrite here -->
      <input type="hidden" name="from_name" value="bbgard.github.io" />

      <!-- Optional: Custom Redirection or Thank you Page
       Make sure you add full URL including https:// -->
      <input
        type="hidden"
        name="redirect"
        value="https://bbgard.github.io/success"
      />

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Gustavo Fring"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="g.fring@lospollos.com"
          required
        />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          placeholder="Hi there! Los Pollos Hermanos needs a new website..."
          required></textarea>
      </div>
      <div class="form-group">
        <!-- Honeypot Spam Protection -->
        <input
          type="checkbox"
          name="botcheck"
          class="hidden"
          style="display: none;"
        />
      </div>
      <div class="form-group btn-container">
        <button type="reset">Clear</button>
        <button type="submit" class="send-btn">Send</button>
      </div>
    </form>
  </div>
</div>

<style>
  .form-container {
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background-color: var(--color-whiite-100);
    padding: 1.4rem;
    border-radius: 4px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  }

  .glass {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
  }


  .contact h3 {
    font-size: var(--font-size-h3);
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    font-size: var(--body-regular);
    font-family: var(--font-family-body-regular);
    display: block;
    margin-bottom: 0.5rem;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: var(--body-regular);
    border: 2px solid var(--color-black-60);
    border-radius: 4px;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: var(--color-gold-100);
  }

  .form-group input::placeholder,
  .form-group textarea::placeholder {
    /* color: var(--color-black-70); */
    font-size: var(--font-size-small);
    font-family: var(--font-family-body-light);
    font-style: italic;
  }

  .form-group textarea {
    min-height: 100px;
    resize: vertical;
  }

  /* .form-group input:invalid, .form-group textarea:invalid {
    border-color: var(--color-red-100);
  }

  .form-group input:invalid::placeholder, .form-group textarea:invalid::placeholder {
    color: var(--color-red-100);
  } */

  .form-group input:valid,
  .form-group textarea:valid {
    border-color: var(--color-green-100);
  }

  .form-group input:valid::placeholder,
  .form-group textarea:valid::placeholder {
    color: var(--color-green-100);
  }

  .form-group.btn-container {
    display: flex;
    justify-content: space-between;
  }

  .form-group button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-h5);
    background-color: var(--color-gold-100);
    font-weight: 600;
    font-family: var(--font-family-heading);
    color: var(--color-black-100);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 0px var(--color-shadow-dark-trans);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

  }

  .form-group button:hover {
    background-color: var(--color-gold-90);
    box-shadow: none;
    transform: translate(2px, 2px);
  }

  .form-group.btn-container .send-btn {
    width: 40%;
    text-align: center;
  }
</style>
